.chat-container .dialog{

    header{ border-bottom: 1px solid; }
    footer{ border-top: 1px solid; }

    section,
    header,
    footer{
        padding:20px;
        border-color:#e6e6e6;
    }

}
