.chat-container .dialog {

    table{
        border-collapse: collapse;
        border-spacing: 0;
        width:100%;
        font-family: Georgia, serif;
        font-size: 0.9em;

        th{
            font-weight: 600;
            text-align:left;
        }

        th, td{
            padding:6px 3px;
        }

        td{
            border-top:1px solid #e6e6e6;
        }
    }
}
